

body {
    margin:  0;
    background-color: #F2F2F2;
}
.page {
    margin: 0 auto;
    background-color: #F8F8F8;
    min-width: 320px;
    max-width: 1120px;
    font-family: "TT Lakes", sans-serif;
}

.main {
    box-sizing: border-box;
    padding-bottom: 50px;
}

.header {
    background-color: white;
    display: flex;
    border-bottom: 1px solid #B8FFEC;

}

.button-bar {
    margin-top: 0;
    box-sizing: border-box;
    padding: 12px 8px 12px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;


}
.button-bar {
    margin-top: 0;
    box-sizing: border-box;
    padding: 12px 8px 12px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}


.button-bar__button:nth-of-type(2)
{
    display: none;

}
.button-bar__button:nth-of-type(3)
{
    display: none;

}
.button-bar__button:nth-of-type(4)
{
    display: none;

}

.button-bar__button {
    border: none;
    background-color: #FF3E79;
    cursor: pointer;
    border-radius: 50%;
    margin-right:16px;
    height:40px;
    width:40px;


}

.button-bar__span {
    display: none;
}

.button-bar__separator:first-of-type {
    display: none;
}

.button-bar__separator {
    border-left: 2px solid #EAEAEA;
    height: 32px;
}

.info__text {
    margin-top: 25px;
    margin-bottom: 5px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 15px;
    font-family: ttlakes;
    font-size: 14px;
    line-height: 18px;
    letter-spacing:0.2px;
    height: 90px;
    overflow: hidden;
}

.headline__title {
    margin-top: 15px;
    margin-bottom: 23px;
    box-sizing: border-box;
    padding: 0 10px;
    font-family: ttlakes-bold;
    font-size: 28px;
    letter-spacing: -0.02em;
}

.main {
    position: relative;
}

.main::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 60px;
    right: 0;
    pointer-events: none;
    background-image: linear-gradient(to right, rgba(255,255,255,0),  #F8F8F8 85%);
    width: 30px;
    height: 60px;
}

.menu {
    box-sizing: border-box;
    padding: 0 15px;
    display: flex;
    overflow-x: auto;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu__link {
    display: inline-block;
    box-sizing: border-box;
    padding: 8px 15px 12px;
    margin-right:  10px;
    height: 40px;
    white-space: nowrap;
    font-family: ttlakes-medium;
    font-size: 16px;
    color: #7E7E82;
    border-color: transparent;
    background: transparent;
    text-decoration: none;
}



.current-heading::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 0 2px 2px 0;
    transform: translate(-10px, 10px);
}

.info__more-label{
    box-sizing: border-box;
    padding-left: 15px;
}

.info__more-label::before {
    display: inline-block;
    content: url("img/expand.svg");
    transform: translate(0, 6px);
}

.info__more-label::after {
    content: "Читать далее";
    font-family: ttlakes-medium;
}

.info__more-checkbox {
    display: none;
}

.info__more-checkbox:checked + .about__text {
    height: auto;
    overflow: auto;
}

.info__more-checkbox:checked ~ .info__more-label::after{
    font-family: ttlakes-medium;
    content: "Свернуть";
}

.info__more-checkbox:checked ~ .info__more-label::before{
    transform: rotate(180deg) translate(0px, -3px);
}

.info__tb {
    flex: 100%;
    margin-top: 15px;
    height: 176px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info {
    display: flex;
    flex-wrap: wrap;
}


@media only screen and (min-width: 768px) {


    .header {
        box-sizing: border-box;
        padding: 10px 8px;
    }

    .button-bar {
        margin-top: 0;
        box-sizing: border-box;
        padding: 12px 8px 12px 8px;
        display: inline-flex;
        align-items: center;
    }

    .button-bar__logo {
    }

    .button-bar__separator, .button-bar__logo{
        margin: 0 10px;
    }

    .button-bar__separator:first-of-type {
        display: inline;
    }

    .button-bar__button {
        margin: 0 2px;
    }

    .button-bar__button:nth-of-type(2) {
        margin-left: 240px;
    }

    .button-bar__button:nth-of-type(2), .button-bar__button:nth-of-type(3), .button-bar__button:nth-of-type(4) {
        display: inline-block;
    }

    .info {
        box-sizing: border-box;
        padding: 0 12px;
        flex-wrap: nowrap;
    }

    .info__decor-img, .info__tb{
        flex: 50%;
    }

    .info__decor-img {
        height: 208px;

        border-radius: 10px;
    }

}

@media only screen and (min-width: 1120px) {

    .page {
        margin: 0 auto;
        position: relative;
        box-sizing: border-box;
        padding: 20px;
    }

    .header {
        background-color: #F8F8F8;
        display: block;
        max-width: 500px;
        position: absolute;
        top:25px;
        right: 0;
        border: none;
    }

    .button-bar__logo {
        display: none;
    }

    .button-bar__separator, .button-bar__separator:first-of-type {
        display: none;
    }

    .button-bar__button:nth-of-type(1), .button-bar__button:nth-of-type(2), .button-bar__button:nth-of-type(3), .button-bar__button:nth-of-type(4) {
        display: none;
    }

    .button-bar__button {
        display: inline-flex;
        align-items: center;
        margin-left: 15px;
        font-size: 16px;
    }

    .button-bar__button:focus {
        border-radius: 0;
        outline-color: #41F6D7;
        outline-style: solid;
        box-shadow: 0 0;
    }

    .button-bar__span {
        display: inline;
        margin-right: 8px;
    }

    .headline__title::before {
        transform: translate(-30px, 10px);
    }

    .main::after {
        display: none;
    }

    .info__decor-img, .info__tb {
        flex: 50%;
    }

    .info__decor-img {
        height: 307px;

        border-radius: 10px;
    }

    .menu {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .menu__link {
        margin-right:  10px;
        margin-bottom:  10px;
    }

}
